:root {
  --color-shadow: grey;
  --section-padding: 8px;
  --section-margin: 8px;
  --border-radius-default: 0.75rem;
  --primary-color: rgb(0, 175, 152);
  --primary-color-dark: rgb(0, 122, 106);
  --shade-color: rgba(73, 73, 73, 0.856);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

img {
  max-width: 100vw;
}

button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 32px;
  padding: var(--section-padding);
  text-decoration: none;
  font-size: 1.5rem;
  transition-duration: 0.2s;
  cursor: pointer;
}

button:hover {
  background-color: var(--primary-color-dark);
}

body {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  background: rgb(65, 65, 65);
  color: white;
}

header {
  padding: var(--section-padding);
  position: sticky;
  top: 0px;
  background: inherit;
  z-index: 1000;
  border-bottom: black solid 3px;
}

nav ul {
  justify-content: center;
  display: flex;
  gap: 1rem;
  font-size: 2rem;
  list-style: none;
  margin: var(--section-margin);
}

li {
  cursor: pointer;
}

nav li {
  border-bottom: 2px solid transparent;
  padding: var(--section-padding) 2rem;
  opacity: 0.8;
  transition: 0.1s;
}

nav li:hover {
  border-bottom: 2px solid white;
  opacity: 1;
}

nav li:focus {
  color: green;
}

#restaurant-name-header {
  text-align: center;
  padding: var(--section-padding);
  background: var(--primary-color);
  font-size: 3rem;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero {
  align-self: center;
  background-size: cover;
  padding: 200px var(--section-padding);
  background-image: url("./images/restaurant2.jpg");
  width: clamp(75vw, 90vw, 600px);
  font-size: 2rem;

  display: flex;
  justify-content: center;
}

#restaurant-hero {
  background-image: url("./images/restaurant1.jpg");
  background-position: center bottom;
  position: relative;

  display: grid;
  gap: 1rem;
  justify-items: center;
}

#restaurant-description {
  background: var(--shade-color);
  padding: 2rem 3rem;
  border-radius: var(--border-radius-default);
  text-align: center;
}

#restaurant-hero button {
  width: 75%;
  border: solid 2px black;
}

#reviews {
  position: relative;
}

.review {
  display: block;
}

.review:not(.active) {
  display: none;
}

.dot-container {
  display: flex;
  justify-content: center;
  gap: 8px;
  position: relative;
}

.dot {
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
}

#prev,
#next {
  position: absolute;
  top: 4px;
  padding: var(--section-padding);
}
#prev {
  right: 100%;
}
#next {
  left: 100%;
}

#hours-location {
  align-self: center;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  background: rgb(29, 29, 29);
  padding: var(--section-padding);
  width: clamp(75vw, 90vw, 600px);
}

#menu {
  background: rgba(43, 43, 43, 0.822);
  padding: var(--section-padding);
  margin: var(--section-margin);
  border-radius: var(--border-radius-default);
  text-align: center;
}

.category {
  text-align: center;
  padding: var(--section-padding);
  width: clamp(500px, 90vw, 50vw);
  margin: var(--section-margin) 0;
  /* background: rgba(0, 0, 0, 0.26); */
}

.category-header {
  background: var(--primary-color);
  border-radius: 16px;
  padding: var(--section-padding);
  font-size: 2rem;
}

.menu-item {
  padding: var(--section-padding);
  margin: var(--section-margin) 0;
}

.food-name img {
  height: 1.5rem;
}

.vegetarian::after {
  background-image: url("./images/plant.svg");
  background-size: 1.5rem 1.5rem;
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  content: "";
}

.description {
  font-style: italic;
}

#iconLegend {
  padding: var(--section-padding);
  border-top: double 4px var(--primary-color);
}

#vegIconLegend {
  padding: var(--section-padding);
}

#vegIconLegend::before {
  background-image: url("./images/plant.svg");
  background-size: 1.5rem 1.5rem;
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  content: "";
  margin: 0 var(--section-margin);
}

#contact-header {
  background: var(--shade-color);
  padding: 2rem 3rem;
  text-align: center;
  border-radius: var(--border-radius-default);
  width: fit-content;
}

#contact-info {
  background: var(--primary-color);
  width: clamp(75vw, 90vw, 600px);
  text-align: center;
  padding: calc(2 * var(--section-padding));
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}

@media (min-width: 700px) {
  #contact-info {
    align-items: center;
    flex-direction: row;
  }

  #restaurant-hero {
    grid-template-columns: 1fr 1fr;
  }

  #restaurant-description {
    grid-column: 1 / 3;
  }
}

#contact-info > * {
  padding: var(--section-padding);
  display: flex;
  gap: 0.75rem;
}

a:link {
  text-decoration: none;
}

#contact-email-address {
  order: -1;
}

#contact-email-address::before {
  content: url(./images/mail.svg);
  color: black;
  align-self: flex-start;
}

#contact-info::before {
  content: "";
  border: 1px solid black;
  align-self: stretch;
}

#contact-phone-number::before {
  /* content: "Phone Number: "; */
  content: url(./images/phone.svg);
  align-self: flex-start;
}

#contactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(43, 43, 43, 0.822);
  padding: calc(2 * var(--section-padding));
  margin: var(--section-margin);
  border-radius: var(--border-radius-default);
}

#contactForm > * {
  width: 400px;
  padding: var(--section-padding);
}

#contact-description {
  margin-bottom: var(--section-margin);
  border-bottom: solid 2px var(--primary-color);
  text-align: center;
  font-style: italic;
}

#messageInput {
  padding-bottom: 100px;
  resize: vertical;
}

#contactForm > input,
textarea,
select {
  margin-bottom: 1.5rem;
}

#contactForm label {
  font-weight: 600;
}

footer {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  padding: var(--section-padding);
  background: black;
}
